html,
body {
    margin: 0;
    padding: 0;
    background-color: #393e46;
}

#input {
    background-color: #222831;
    padding: 16px 16px 8px 16px;
    border-bottom-left-radius: 16pt 16pt;
    border-bottom-right-radius: 16pt 16pt;
}

#output {
    height: 400px;
    background-color: #222831;
    padding: 16px 16px 8px 16px;
    border-top-left-radius: 16pt 16pt;
    border-top-right-radius: 16pt 16pt;
}

@media (max-width: 500px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    #defaultCanvas0 {
        width: 100% !important;
        height: 100% !important;
    }
    #output {
        height: 150px !important;
    }
}

#chart {
    max-height: 366px !important;
}

.container {
    max-width: 1600px;
    background-color: #393e46;
}

input {
    width: 25%;
}